name: Cross Build

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
  workflow_run:
    workflows: ["Test with Code Coverage"]
    branches: [main]
    types:
      - completed

jobs:
  test:
    name: ${{ matrix.os.name }}
    if: >-
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success')
    strategy:
      matrix:
        os:
          - arch: ubuntu-latest
            name: Ubuntu

          - arch: macos-latest
            name: Mac OS X

          - arch: windows-latest
            name: Windows
        rust: [stable]
    runs-on: ${{ matrix.os.arch }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.deps.dev:443
            api.github.com:443
            api.osv.dev:443
            api.scorecard.dev:443
            fulcio.sigstore.dev:443
            github.com:443
            oss-fuzz-build-logs.storage.googleapis.com:443
            rekor.sigstore.dev:443
            tuf-repo-cdn.sigstore.dev:443
            www.bestpractices.dev:443
            objects.githubusercontent.com:443
            github-releases.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            raw.githubusercontent.com:443
            static.rust-lang.org:443
            static.crates.io:443
            index.crates.io:443
            azure.archive.ubuntu.com:80
            changelogs.ubuntu.com:443
            esm.ubuntu.com:443
            security.ubuntu.com:80
            packages.microsoft.com:443

      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b # master
        with:
          toolchain: ${{ matrix.rust }}

      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - name: Run cargo test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cargo test --all-features

  freebsd:
    name: FreeBSD
    if: >-
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success')
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: block
          allowed-endpoints: >
            api.deps.dev:443
            api.github.com:443
            api.osv.dev:443
            api.scorecard.dev:443
            fulcio.sigstore.dev:443
            github.com:443
            oss-fuzz-build-logs.storage.googleapis.com:443
            rekor.sigstore.dev:443
            tuf-repo-cdn.sigstore.dev:443
            www.bestpractices.dev:443
            objects.githubusercontent.com:443
            github-releases.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            raw.githubusercontent.com:443
            static.rust-lang.org:443
            static.crates.io:443
            index.crates.io:443
            azure.archive.ubuntu.com:80
            changelogs.ubuntu.com:443
            esm.ubuntu.com:443
            packages.microsoft.com
            0.freebsd.pool.ntp.org:443
            2.freebsd.pool.ntp.org:443
            pkg.FreeBSD.org:443

      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: FreeBSD
        uses: vmactions/freebsd-vm@c54ba3b62f49de9b67a2f3af017ab6152f0ebb6f # v1.3.4
        with:
          usesh: true
          sync: rsync
          copyback: false
          prepare: |
            mkdir -p /usr/local/etc/pkg/repos
            cat << EOF > /usr/local/etc/pkg/repos/FreeBSD.conf
            FreeBSD-ports: {
              url: "https://pkg.FreeBSD.org/\${ABI}/latest",
              mirror_type: "none",
              signature_type: "fingerprints",
              fingerprints: "/usr/share/keys/pkg",
              enabled: yes
            }
            EOF
            cat << EOF > /usr/local/etc/pkg/repos/kmods.conf
            FreeBSD-ports-kmods: {
              url: "https://pkg.FreeBSD.org/\${ABI}/kmods_latest",
              mirror_type: "none",
              signature_type: "fingerprints",
              fingerprints: "/usr/share/keys/pkg",
              enabled: yes
            }
            EOF
            pkg update -f ; pkg install -y curl rust-nightly

          run: |
            pwd
            ls -lah
            whoami
            env
            freebsd-version
            sysctl hw.model
            sysctl hw.ncpu
            sysctl hw.physmem
            sysctl hw.usermem
            cargo test --all-features

  openbsd:
    name: OpenBSD
    if: >-
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success')
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: block
          allowed-endpoints: >
            api.deps.dev:443
            api.github.com:443
            api.osv.dev:443
            api.scorecard.dev:443
            fulcio.sigstore.dev:443
            github.com:443
            oss-fuzz-build-logs.storage.googleapis.com:443
            rekor.sigstore.dev:443
            tuf-repo-cdn.sigstore.dev:443
            www.bestpractices.dev:443
            objects.githubusercontent.com:443
            github-releases.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            raw.githubusercontent.com:443
            static.rust-lang.org:443
            static.crates.io:443
            index.crates.io:443
            azure.archive.ubuntu.com:80
            changelogs.ubuntu.com:443
            esm.ubuntu.com:443
            packages.microsoft.com:443
            cdn.openbsd.org
            pool.ntp.org:443
            time.cloudflare.com:443
            www.google.com:443

      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: OpenBSD
        uses: vmactions/openbsd-vm@00c443658b29649d2105816a88d6b4b789d8a3bd # v1.2.7
        with:
          usesh: true
          sync: rsync
          copyback: false
          prepare: |
            pkg_add curl rust

          run: |
            pwd
            ls -lah
            whoami
            env
            cargo test --all-features

  netbsd:
    name: NetBSD
    if: >-
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success')
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: block
          allowed-endpoints: >
            api.deps.dev:443
            api.github.com:443
            api.osv.dev:443
            api.scorecard.dev:443
            fulcio.sigstore.dev:443
            github.com:443
            oss-fuzz-build-logs.storage.googleapis.com:443
            rekor.sigstore.dev:443
            tuf-repo-cdn.sigstore.dev:443
            www.bestpractices.dev:443
            objects.githubusercontent.com:443
            github-releases.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            raw.githubusercontent.com:443
            static.rust-lang.org:443
            static.crates.io:443
            index.crates.io:443
            archive.ubuntu.com:80
            azure.archive.ubuntu.com:80
            changelogs.ubuntu.com:443
            motd.ubuntu.com:443
            esm.ubuntu.com:443
            packages.microsoft.com:443
            security.ubuntu.com:80
            2.netbsd.pool.ntp.org:443
            cdn.NetBSD.org:443

      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: NetBSD
        uses: vmactions/netbsd-vm@2ba9902c77c2ebdb7501e5e9308dea03f0f251c4 # 1.3.1
        with:
          usesh: true
          sync: rsync
          copyback: false
          prepare: |
            /usr/sbin/pkg_add pkgin
            pkgin -y install curl rust

          run: |
            pwd
            ls -lah
            whoami
            env
            cargo test --all-features

  alpine:
    name: Alpine
    if: >-
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success')
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: block
          allowed-endpoints: >
            api.deps.dev:443
            api.github.com:443
            api.osv.dev:443
            api.scorecard.dev:443
            fulcio.sigstore.dev:443
            github.com:443
            oss-fuzz-build-logs.storage.googleapis.com:443
            rekor.sigstore.dev:443
            tuf-repo-cdn.sigstore.dev:443
            www.bestpractices.dev:443
            static.rust-lang.org:443
            static.crates.io:443
            index.crates.io:443
            dl-cdn.alpinelinux.org:80
            gitlab.alpinelinux.org:443

      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup
        uses: jirutka/setup-alpine@ae3b3ddba35054804fc4a3507b519fa7e8152050 # v1
        with:
          branch: edge

      - name: Run tests
        run: |
          apk add cargo
          cargo test --all-features
        shell: alpine.sh --root {0}

  arch:
    name: Arch
    if: >-
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success')
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: block
          allowed-endpoints: >
            api.deps.dev:443
            api.github.com:443
            api.osv.dev:443
            api.scorecard.dev:443
            fulcio.sigstore.dev:443
            github.com:443
            oss-fuzz-build-logs.storage.googleapis.com:443
            rekor.sigstore.dev:443
            tuf-repo-cdn.sigstore.dev:443
            www.bestpractices.dev:443
            objects.githubusercontent.com:443
            raw.githubusercontent.com:443
            static.rust-lang.org:443
            static.crates.io:443
            index.crates.io:443
            2.netbsd.pool.ntp.org:443
            archlinux.org:443
            geo.mirror.pkgbuild.com:443
            openpgpkey.archlinux.org:443

      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup
        uses: RangHo/setup-arch@19885eda0c0b0d1791e61e1d32f2552d42944b14 # main
        with:
          packages: "rust"

      - name: Run tests
        run: |
          cargo test --all-features

# TODO: Add support for more OSs
# - OpenSUSE
# - Rocky Linux
# - Fedora
# - Gentoo
# - Slackware
