name: Greetings

on:
  pull_request:
    types:
      - opened
  issues:
    types:
      - opened

permissions:
  issues: write
  pull-requests: write

jobs:
  greeting:
    name: Greet First-Time Contributors
    runs-on: ubuntu-latest

    steps:
      - uses: actions/first-interaction@v3
        with:
          issue_message: |
            # Welcome

            Thank you for submitting your first issue! ❤️
          pr_message: |
            # Welcome

            Thank you for submitting your first pull request! ❤️
