name: PR Labels

on:
  pull_request: # zizmor: ignore[dangerous-triggers]
    types: [opened, edited, synchronize]

permissions:
  contents: read
  pull-requests: write

jobs:
  pr:
    name: Label and Check PR Title
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1

      - name: Validate PR title
        id: pr-title
        uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          requireScope: false
          types: |
            build
            chore
            ci
            docs
            feat
            fix
            perf
            refactor
            release
            revert
            style
            test

      - name: Get category label from PR title
        id: get-category
        env:
          PR_TYPE: ${{ steps.pr-title.outputs.type }}
        run: |
          case "$PR_TYPE" in
            "feat")
              CATEGORY="C-enhancement"
              ;;
            "fix")
              CATEGORY="C-bug"
              ;;
            "test")
              CATEGORY="C-test"
              ;;
            "refactor" | "chore" | "style")
              CATEGORY="C-cleanup"
              ;;
            "docs")
              CATEGORY="C-docs"
              ;;
            "perf")
              CATEGORY="C-performance"
              ;;
            *)
              CATEGORY=""
              ;;
          esac
          echo "CATEGORY=$CATEGORY" >> $GITHUB_OUTPUT

      - name: Add category label
        uses: actions-ecosystem/action-add-labels@18f1af5e3544586314bbe15c0273249c770b2daf # v1.1.3
        if: ${{ steps.get-category.outputs.CATEGORY != '' }}
        with:
          labels: ${{ steps.get-category.outputs.CATEGORY }}
